    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        background: #f1f8fc;
    }

    a {
        color: #333;
    }

    a:hover {
        color: #666;
        text-decoration: none;
    }

    .box-shadow {
        box-shadow: 5px 6px 5px rgba(221, 221, 221, 0.4);
    }

    .color-blue {
        color: #0079d1;
    }
    .color-red {
        color: #ee534f;
    }

    .nav-left {
        background: #fff;
        width: 110px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 5px 6px 5px rgba(221, 221, 221, 0.4);
        z-index: 9;
    }

    .logo a {
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 6px 0 7px;
    }

    .logo-img {
        width: 100%;
        max-width: 67px;
        margin: 0 auto;
    }

    .menulist {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .menulist li {
        list-style: none;
        padding: 0px;
        height: 100px;
        display: inline-flex;
        width: 100%;
    }

    .menulist li a {
        display: inline-block;
        width: 100%;
        position: relative;
        border-left: 3px solid #fff;
        transition: all ease .3s;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        -ms-transition: all ease .3s;
        -o-transition: all ease .3s;
    }

    .menulist li:hover,
    .menulist li a.active {
        background: #f1f8fc;
    }

    .menulist li a:hover,
    .menulist li a.active {
        border-left: 3px solid #0079d1;
    }

    .menu-icon,
    .menu-icon-hover {
        top: 50%;
        left: 50%;
        position: absolute;
        transition: all ease 0.1s;
        -webkit-transition: all ease 0.1s;
        -moz-transition: all ease 0.1s;
        -ms-transition: all ease 0.1s;
        -o-transition: all ease 0.1s;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .menu-icon-hover {
        opacity: 0;
    }

    .menulist li a:hover .menu-icon,
    .menulist li a.active .menu-icon {
        opacity: 0;
    }

    .menulist li a:hover .menu-icon-hover,
    .menulist li a.active .menu-icon-hover {
        opacity: 1;
    }

    .notification-count {
        position: absolute;
        left: 50%;
        background: #8dc63f;
        width: 25px;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 50%;
        color: #fff;
        z-index: 1;
        transform: translate(0%, 30px);
        -webkit-transform: translate(0%, 30px);
        -moz-transform: translate(0%, 30px);
        -ms-transform: translate(0%, 30px);
        -o-transform: translate(0%, 30px);
}

    header {
        padding: 0 0 0 110px;
        background: #fff;
    }

    .head-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        min-height: 80px;
        box-shadow: 5px 6px 5px rgba(221, 221, 221, 0.4);
    }

    .pagename {
        color: #0079d1;
        font-weight: 700;
        font-size: 30px;
        padding: 0 20px 0 0;
    }

    .pod-user-details,
    .header-pod-details {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
    }

    .btn {
        line-height: 40px;
        font-size: 15px;
        font-weight: 600;
        padding: 0 25px;
        height: 40px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .green-btn {
        background: #8dc63f;
        color: #fff;
    }

    .green-btn:hover {
        background: #8ad229;
        color: #fff;
    }

    .red-btn,
    .red-btn:hover {
        background: #ee534f;
        color: #fff;
    }

    .iris-blue-btn,
    .iris-blue-btn:hover {
        background: #00b7c7;
        color: #fff;
    }

    .blue-btn {
        background: #0079d1;
        color: #fff;
    }

    .blue-btn:hover {
        background: #088bea;
        color: #fff;
    }

     .share-btn{
        background: #af5ea5;
        float:right;
        font-size:12px;
        color: #fff;
        line-height: 28px;
        padding: 0 22px;
        height: 28px;
        font-weight: 400;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


    .small-btn {
        line-height: 24px;
        padding: 0 22px;
        height: 28px;
        font-weight: 400;
        font-size: 14px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    .medium-btn {
        line-height: 30px;
        padding: 0 15px;
        height: 34px;
        min-width: 100px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    .number-btn {
        width: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .trash-btn {
        display: inline-flex;
        width: 35px;
        height: 35px;
        background: #f00;
        color: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .form-control {
        border: 1px solid #bccddc;
        color: #cfcfcf;
        padding: 7px 20px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        resize: none;
        max-height: 63px;
    }

    .big-Input {
        height: 40px;
        background: #f1f8fc;
        color: #b5babd;
        border: none;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }

    button,
    input,
    textarea,
    textarea,
    .form-control {
        transition: all ease 1s;
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        -ms-transition: all ease 1s;
        -o-transition: all ease 1s;
    }

    button:hover,
    button:focus,
    .btn.focus,
    .btn:focus,
    input:hover,
    input:focus,
    textarea:hover,
    textarea:focus,
    .form-control:hover,
    .form-control:focus {
        box-shadow: none;
        border-color: #1763a7;
    }

    .big-input:focus {
        background: #f1f8fc !important;
    }

    .curved {
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}

    .search-from {
        display: flex;
    }

    .search-from .form-control {
        border-radius: 50px 0 0 50px;
        -webkit-border-radius: 50px 0 0 50px;
        -moz-border-radius: 50px 0 0 50px;
        -ms-border-radius: 50px 0 0 50px;
        -o-border-radius: 50px 0 0 50px;
}
    /* BOF Custom CSS for checkbox */

    .comment-area {
        min-height: 225px;
    }
    /* The container */

    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 0;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */

    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 15px;
        width: 15px;
        /*background-color: #eee;
*/
        border: 1px solid #333333;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    /* On mouse-over, add a Black border  */

    .checkbox-container:hover input~.checkmark {
        border: 1px solid #000;
    }
    /* When the checkbox is checked, add a Black border  */

    .checkbox-container input:checked~.checkmark {
        border: 1px solid #000;
    }
    /* Create the checkmark/indicator (hidden when not checked) */

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */

    .checkbox-container input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */

    .checkbox-container .checkmark:after {
        left: 8px;
        top: -3px;
        width: 7px;
        height: 14px;
        border: solid #333333;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -o-transform: rotate(50deg);
    }
    /* BOF blue-checkbox */

    .blue-checkbox {
        color: #0079d1;
    }

    .blue-checkbox .checkmark {
        border-color: #0079d1;
    }

    .blue-checkbox:hover input~.checkmark,
    .blue-checkbox input:checked~.checkmark {
        border: 1px solid #0079d1;
    }

    .blue-checkbox .checkmark:after {
        border: solid #0079d1;
        border-width: 0 3px 3px 0;
    }
    /* BOF blue-checkbox */
    /* BOF white-checkbox */

    .white-checkbox {
        color: #fff;
        font-weight: 400;
    }

    .white-checkbox .checkmark {
        border-color: #fff;
    }

    .white-checkbox:hover input~.checkmark,
    .white-checkbox input:checked~.checkmark {
        border: 1px solid #fff;
    }

    .white-checkbox .checkmark:after {
        border: solid #fff;
        border-width: 0 3px 3px 0;
    }
    /* BOF white-checkbox */
    /* EOF Custom CSS for checkbox */

    .search-from .btn {
        border-radius: 0 50px 50px 0;
        -webkit-border-radius: 0 50px 50px 0;
        -moz-border-radius: 0 50px 50px 0;
        -ms-border-radius: 0 50px 50px 0;
        -o-border-radius: 0 50px 50px 0;
    }

    .header-user-details {
        margin-left: 20px;
        position: relative;
    }

    .header-user-img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .header-login-details-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        min-height: 200px;
        display: none;
    }

    .header-login-details {
        position: absolute;
        top: 60px;
        right: 0;
        background: #fff;
        min-width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        border: 1px solid #ddd;
        z-index: 1;
        box-shadow: 0px 6px 10px #ddd;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .header-login-details::before {
        position: absolute;
        content: "";
        border: 10px solid transparent;
        right: 20px;
        top: -20px;
        border-bottom: 10px solid #484848;
    }
    .profile-pic {
        margin: 5px 0;
        position: relative;
    }
    .profile-name {
        margin: 9px 0 1px;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }
    .logout {
        margin: 0;
        font-size: 12px;
    }
    .header-user-details:hover .header-login-details-wrapper {
        display: block;
    }

    .header-toggle {
        display: none;
    }

    .wrapper {
        padding: 40px 40px 40px 150px;
        background: none;
        border: none;
    }

    .dashboard-cards-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 50px;
    }

    .card {
        display: inline-flex;
        width: 100%;
        margin: 0;
        border: none;
        padding: 20px;
        border-left: 5px solid #fff;
        box-shadow: 5px 6px 5px rgba(221, 221, 221, 0.4);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .card-head,
    .card-discription {
        margin: 0;
    }

    .card-head {
        font-size: 30px;
        font-weight: 600;
    }

    .card-discription {
        font-size: 18px;
    }

    .dashboard-cards-wrapper .card {
        width: 23.5%;
    }

    .iris-blue-card {
        border-color: #00b7c7;
    }

    .iris-blue-card .card-head {
        color: #00b7c7;
    }

    .marguerite-blue-card {
        border-color: #7b6bb3;
    }

    .marguerite-blue-card .card-head {
        color: #7b6bb3;
    }

    .violet-blue-card {
        border-color: #af5ea5;
    }

    .violet-blue-card .card-head {
        color: #af5ea5;
    }

    .navy-blue-card {
        border-color: #0079d1;
    }

    .navy-blue-card .card-head {
        color: #0079d1;
    }

    .help-icon {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    /* BOF Title Card CSS  */

    .title-card {
        background: #fff;
        display: inline-flex;
        width: 100%;
        margin: 0 0 20px;
        border: none;
        padding: 20px;
        border-left: 5px solid #0079d1;
        box-shadow: 5px 6px 5px rgba(221, 221, 221, 0.4);
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .title-cardHead {
        margin: 0;
        font-size: 1.2em;
        font-weight: 600;
        color: #0079d1;
    }

    .title-cardDetails {
        display: inline-flex;
        position: relative;
    }

    .settings-dropdown-wrapper {
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        width: 100%;
        padding: 0;
        min-height: 120px;
    }
    ul.settings-dropdown {
        padding: 0;
        margin: 0;
        background: #fff;
        border: 1px solid #ddd;
        position: absolute;
        right: 0;
        top: 15px;
        border-bottom: none;
    }
    ul.settings-dropdown::before {
        position: absolute;
        content: "";
        border: 10px solid transparent;
        right: 6px;
        top: -20px;
        border-bottom: 10px solid #484848;
    }
    ul.settings-dropdown li {
        list-style: none;
    }
    ul.settings-dropdown li a {
        padding: 10px 15px;
        display: inline-block;
        width: 100%;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        min-width: 170px;
        text-align: right;
    }
    ul.settings-dropdown li a:hover {
        color: #0079d1;
    }

    .settings-dropdown-icon:hover .settings-dropdown-wrapper {
        display: block;
    }

    .title-checkbox-wrapper {
        margin: 0 0 0 40px;
    }
    /* EOF Title Card CSS  */
    /* BOF Blue Title Card CSS  */

    .blue-title-card {
        background: #0079d1;
    }

    .blue-title-card .title-cardHead {
        color: #fff;
    }
    /* EOF Blue Title Card CSS  */

    .trending-graph-wrapper {
        background: #fff;
        padding: 30px 30px 5px;
        box-shadow: 5px 6px 5px rgba(221, 221, 221, 0.4);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .graph-head {
        font-size: 22px;
        font-weight: 600;
        color: #3a4155;
        margin: 0 0 10px;
    }
    .graph-area {
        position: relative;
        padding: 0 0 40px;
    }
    .graph-progress {
        position: relative;
        z-index: 1;
        padding: 10px 13px 0 5px;
    }
    .progress {
        background: none;
        margin: 0 0 15px;
        height: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .progress-bar {
        background: #0079d1;
        padding: 8px 20px;
        text-align: left;
        line-height: 14px;
    }

    .graph-breakdowns {
        position: absolute;
        top: 0;
        z-index: 0;
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .breakdown-single {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        color: #b4b4b4;
        font-weight: 300;
        font-size: 13px;
    }
    .breakdown-border {
        border-left: 2px dashed #a7a7a7;
        height: 84%;
        margin-bottom: 10px;
    }

    .hyperlink {
        border: 1px solid #bccddc;
        background: #e9e9e9;
        font-size: 18px;
        font-weight: 600;
    }
    .hyperlink a {
        word-break: break-all;
    }
    /* BOF Sign In/Up page CSS */

    .signin-wrapper {
        background: #0079d1;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-wrap {
        background: #fff;
        width: 500px;
        padding: 40px 80px;
        box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.47);
        margin: 5em 0;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    .login-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 25px;
    }

    .login-logo img {
        max-width: 127px;
    }

    .login-form {
        margin: 0 0 40px;
    }

    .login-form .form-control {
        font-weight: 600;
        box-shadow: 0px 0px 20px #DDD;
        border: none;
        font-size: 13px;
        min-height: 36px;
    }

    .google-btn {
        width: 100%;
        background: #4285f4;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 220px;
        margin: 0 auto;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

    .google-btn img {
        width: 20px;
        margin: 0 30px 0 0
    }

    .signup-link {
        font-weight: 600;
        text-align: center;
        color: #1d7fd7;
        font-size: 13px;
        margin: 15px 0 0;
    }

    .signup-link a {
        color: #0a5eab;
    }

    .signup-link a:hover {
        color: #1d7fd7;
    }
    /* EOF Sign In/Up page CSS */
    /* BOF Create New Pod Page */

    .checklists-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    .checklists-wrapper .checkbox-container {
        width: 25%;
        padding-right: 15px;
    }

    .right-btns-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .right-btns-wrapper .btn {
        margin: 0 0 0 12px;
    }
    /* EOF Create New Pod Page */
    /* BOF My Pods Page */

    .pod-details {
        flex-grow: 1;
    }

    .pods-list-wrapper {
        background: #fff;
        border: 1px solid #bccddc;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        margin-bottom: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        overflow: hidden;
    }

    .pod-number {
        background: #cbe1f5;
        border-right: 1px solid #bccddc;
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
    }

    .pod-content {
        flex-grow: 1;
        padding: 15px 18px 25px;
    }

    .pod-list-head {
        font-weight: 700;
        font-size: 16px;
        color: #0079d1;
    }

    .pod-paragraph {
        color: #666666;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        padding: 0 0 0 20px;
    }

    .pod-paragraph::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        left: 0;
        top: 4px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #af5ea5;
        border: 2px solid #64335e;
    }

    .pod-list-btns button {
        margin-right: 18px;
    }

    .trash-icon {
        display: inline-flex;
        align-items: center;
        padding: 0 20px 0 15px;
    }

    .pod-details-content {
        padding: 20px 18px;
    }

    .pod-details-head {
        font-weight: 600;
        font-size: 16px;
    }

    .pod-details-para {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        color: #666;
    }
    /* EOF My Pods Page */
    /* BOF Pod Members Page */

    .member-wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #bccddc;
        background: #fff;
        padding: 6px 12px;
        margin: 0 0 10px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

    .member-img {
        width: 55px;
        max-height: 55px;
        overflow: hidden;
        margin-right: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .member-img img {
        width: 100%;
    }

    .member-content {
        flex-grow: 1;
    }

    .member-name {
        font-weight: 600;
        font-size: 17px;
        margin: 0 0 4px;
        color: #0079d1;
    }

    .member-discription {
        margin: 0;
        font-weight: 600;
        color: #666666;
        font-size: 14px;
    }
    /* EOF Pod Members Page */
    /* BOF Notification Page */

    .notification-wrapper {
        background: #fff;
        border: 1px solid #bccddc;
        display: flex;
        align-items: stretch;
        min-height: 80px;
        margin: 0 0 20px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    .notification-bell-wrapper {
        display: inline-flex;
        background: #bccddc;
        border-right: 1px solid #bccddc;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
    }

    .notification-bell {
        background: #bcc3c9;
        width: 32px;
        height: 32px;
        display: inline-flex;
        padding: 8px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .notification-bell img {
        width: 100%;
        opacity: 0.7;
    }

    .notification-on img {
        opacity: 1;
    }

    .notification-content {
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        padding: 0 20px;
    }

    .notification-content p {
        color: #333333;
        font-size: 15px;
        margin: 0;
    }

    .notification-date {
        border-left: 1px solid #bccddc;
        background: #e4ebf1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 14px;
        font-weight: 600;
        padding: 0 20px;
        min-width: 160px;
    }

    .notification-on .notification-bell {
        background: #8dc63f;
    }

    .notification-on .notification-date {
        background: #cbe1f5;
    }

    .form-heading {
        font-weight: 600;
        font-size: 13px;
        color: #333333;
    }
    /* EOF Notification Page */
    /* BOF FAQ Page */
    .alert m-4
    {
        text-align: center;
    }
    .faq-wrapper {
        background: #fff;
        border: 1px solid #bccddc;
        margin-bottom: 12px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

    .faq-header {
        background: #cbe1f5;
        display: flex;
        align-items: center;
        padding: 10px 30px;
        justify-content: space-between;
    }

    .faq-head {
        margin: 0;
        font-weight: 600;
        color: #0079d1;
        font-size: 15px;
    }

    .faq-content {
        padding: 20px 30px 10px;
    }
    /* EOF FAQ Page */
    /* BOF Support Page */

    .contact-form-wrapper {
        color: #fff;
        background: #3595da;
        text-align: center;
        padding: 25px 30px;
        margin: 20px 0 0px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .contact-form-head {
        font-weight: 600;
        font-size: 26px;
        margin: 0 0 18px;
    }
    /* EOF Support Page */

    .small-head {
        font-size: 16px;
        font-weight: 600;
    }

    .border-none {
        border: none;
    }

    .wd-100 {
        width: 100%;
    }

    .wd-100 {
        width: 100%;
    }

    /* BOF Profile Settings Page CSS */
    .profile-cards-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 30px;
    }
    .profile-card {
        background: #fff;
        padding: 15px 40px 15px 15px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        min-height: 165px;
        width:100%;
        max-width: 380px;
    }
    .prfile-img-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .prfile-img {
        width: 100px;
    }
    .prfile-img img {
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    .profile-img-actions {
        margin: 8px 0 0;
    }
    .action-text {
        font-size: 14px;
        font-weight: 500;
        padding: 0 6px;
    }
    .profile-details {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 20px;
    }
    .profle-name {
        font-size: 18px;
        color: #717581;
        margin: 0;
        font-weight: 500;
    }
    .profile-email {
        color: #717581;
        font-size: 15px;
        margin: 0 0 6px;
        display: inline-block;
    }
    .subscription-box {
        flex-direction: column;
        background: #fff url(../img/dimond.png) no-repeat right center;
        padding: 15px 40px 15px 15px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        min-height: 165px;
        width:100%;
        max-width: 380px;
        margin:0 0 0 35px    ;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .subscription-head {
        font-size: 18px;
        margin: 0 0 15px;
        font-weight: 500;
    }
    .subscription-type {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        color: #7e818c;
    }
    .subscription-expiry {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        font-style: italic;
        color: #b4b5b7;
    }
    .subscription-btn {
        margin: 10px 0 0;
    }

    .free-trail .subscription-expiry {
        color: #f1807e;
    }
    .free-trail .subscription-btn {
        background: #8dc63f;
        color: #fff;
    }
    .premium-subscription .subscription-expiry {
        color: #b4b5b7;
    }
    .premium-subscription .subscription-btn {
        background: #ee534f;
        color: #fff;
    }
    /* EOF Profile Settings Page CSS */

    /* BOF Change Password Page CSS */
    .change-password-wrapper {
        background: rgba(255, 255, 255, 0.8);
        position: fixed;
        left: 110px;
        top: 80px;
        right: 0;
        bottom: 0;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .change-password {
        background: #fff;
        padding: 30px;
        width: 100%;
        max-width: 600px;
        position: relative;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .change-password-head {
        font-size: 18px;
        color: #0079d1;
        font-weight: 600;
        margin: 0 0 20px;
    }
    .form-label {
        font-size: 14px;
        color: #a0a0a0;
    }
    /* EOF Change Password Page CSS */

    /* BOF Error Pages CSS */
    .error-pages-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 70vh;
        align-items: center;
        justify-content: center;
    }
    .error-page-img img {
        width: 100%;
    }
    .error-head {
        font-size: 30px;
        color: #3a4155;
        margin: 20px 0 15px;
        text-align: center;
    }
    /* EOF Error Pages CSS */

    /* BOF Dashboard Plans Page  */
    .plans-list-wrapper {
        display: flex;
        margin: 10px 0 0
    }
    .plan-list-single {
        background: #fff;
        width: 100%;
        max-width: 380px;
        margin: 0 40px 0 0;
        text-align: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 30px 70px;
    }
    .plan-price {
        margin: 10px 0 15px;
        color: #717581;
        font-size: 4.5em;
        font-weight: 500;
        line-height: 60px;
    }
    span.currency {
        font-size: 2.5rem;
    }
    .price-title {
        font-size: 14px;
        margin: 0;
        line-height: 20px;
    }
    ul.plan-specs {
        margin: 0 0 25px;
        padding: 0;
        text-align: left;
    }
    ul.plan-specs li {
        list-style: none;
        position: relative;
        margin: 0 0 15px;
        padding: 0 0 0 25px;
        color: #717581;
    }

    ul.plan-specs li::before {
        position: absolute;
        content: "";
        left: 0;
        top: 3px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .plan-includes::before {
        background: url(../img/check.png) no-repeat center center;
    }
    .not-includes::before {
        background: url(../img/close.png) no-repeat center center;
    }
    .free-plan .subscription-head {
        color: #0079d1;
        font-weight: 600;
    }
    .free-plan button.btn {
        background: #0079d1;
        color: #fff;
    }
    .premium-plan .subscription-head {
        color: #8dc63f;
        font-weight: 600;
    }
    .premium-plan button.btn {
        background: #8dc63f;
        color: #fff;
    }
    .premium-plan {
        background: #fff url(../img/dimond.png) no-repeat right 40px;
    }
    /* EOF Dashboard Plans Page  */
    .page-overlay {
        background: #ffffff;
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;
        opacity: .80;
      }

      .spinner {
          margin: 0 auto;
          height: 64px;
          width: 64px;
          animation: rotate 0.8s infinite linear;
          border: 5px solid #0079d1;
          border-right-color: transparent;
          border-radius: 50%;
      }
      @keyframes rotate {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(360deg);
          }
      }
